<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="4" name="Test">
    <classes>
      <class name="testCaseBestBuy.TC_09_CheckOutPageFilling"/>
      <class name="testCaseBestBuy.TC_02_ValidateUrlIsNotBroken"/>
      <class name="testCaseBestBuy.TC_05_ValidateLinkInBottomOfHomePage"/>
      <class name="testCaseBestBuy.TC_06_SearchAddItemInCart"/>
      <class name="testCaseBestBuy.TC_07_SelAddItemShopByDeptMenu"/>
      <class name="testCaseBestBuy.TC_08_SelAddItemShopByBrandMenu"/>
      <class name="testCaseBestBuy.TC_03_CreatAccountFunctionality"/>
      <class name="testCaseBestBuy.TC_03_SignInFunctionality"/>
      <class name="testCaseBestBuy.TC_01_navgatingToBestBestApp"/>
      <class name="testCaseBestBuy.TC_04_CheckTitleOfAllMenu"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
